extends layout

block content
  .page-header
      h1 Clan loader
          small  Visual interface for WoTcs.com clans API server

  if error
    .alert.alert-danger= error
  else
      .row
          .col-sm-3
              .list-group
                  each worker, type in workers
                      .list-group-item
                          .badge(id=type+'_worker')= worker.length
                          = type.charAt(0).toUpperCase() + type.substring(1)
          .col-sm-3
              .list-group
                  .list-group-item
                      .badge#queue_finished_clans= queue.finishedClans
                      | Finished clans
                  .list-group-item
                      .badge#queue_finished_tasks= queue.finishedTasks
                      | Finished tasks
                  .list-group-item
                      .badge#queue_error_tasks= queue.errorTasks
                      | Error tasks
          .col-sm-3
              .list-group
                  .list-group-item
                      .badge#queue_total= queue.totalCount
                      | Total task count
                  .list-group-item
                      .badge#queue_pending= queue.pending
                      | Tasks pending
                  .list-group-item
                      .badge#queue_speed= queue.speed + ' clans/s'
                      | Loading speed

          .col-sm-3
              .list-group#router_stats

      - completion = queue.doneCount / queue.totalCount * 100
      - pendingCompletion = queue.pending / queue.totalCount * 100
      .progress#queue_progress
          .progress-bar.progress-bar-success(role='progress_bar',style='width:'+completion+'%')
          .progress-bar.progress-bar-warning(role='progress_bar',style='width:'+pendingCompletion+'%')

      .row
          .col-sm-6
              .panel.panel-default
                  .panel-heading
                      h3 List of tasks
                          .btn.btn-primary.pull-right#pause_tasks Pause
                  .list-group#queue_task_list
          .col-sm-6
              .panel.panel-default
                  .panel-heading
                      h3 Events
                  .list-group#event_list

      script.
          APIData = {workers: !{JSON.stringify(workers)}}