extends layout

block content
  .page-header
      h1 Clan loader
          small  Visual interface for WoTcs.com clans API server

  if error
    .alert.alert-danger= error
  else
      #worker-buttons.btn-group
          a.btn.btn-default(href="/",class=worker=='all'?'active':'') All
          each w, index in workers
              if index != 'all'
                  - humanIndex = 1+parseInt(index,10)
                  a.btn.btn-default(id='worker_'+index+'_link',href="?w="+humanIndex,class=worker==index?'active':'') Worker !{humanIndex}
      br
      br

      .row
          .col-sm-6
              .list-group
                  .list-group-item
                      .badge(id=worker+'_finished_clans')= workers[worker].stats.finishedClans
                      | Finished clans
                  .list-group-item
                      .badge(id=worker+'_finished_requests')= workers[worker].stats.finishedRequests
                      | Finished requests
                  .list-group-item
                      .badge(id=worker+'_error_requests')= workers[worker].stats.errorRequests
                      | Error requests
                  .list-group-item
                      .badge(id=worker+'_speed') 0 clans/s
                      | Loading speed
          .col-sm-6
              .list-group
                  .list-group-item
                      .badge#queue_total= queue.totalCount
                      | Total task count
                  .list-group-item
                      .badge#queue_done= queue.doneCount
                      | Tasks done
                  .list-group-item
                      .badge#queue_pending= queue.pending
                      | Tasks pending
                  .list-group-item
                      .badge#queue_remaining_time - s
                      | Remaining time

      - completion = queue.doneCount / queue.totalCount * 100
      - pendingCompletion = queue.pending / queue.totalCount * 100
      .progress#queue_progress
          .progress-bar.progress-bar-success(role='progress_bar',style='width:'+completion+'%')
          .progress-bar.progress-bar-warning(role='progress_bar',style='width:'+pendingCompletion+'%')

      .row
          .col-sm-6
              .panel.panel-default
                  .panel-heading
                      h3 List of requests
                  .list-group(id=worker+'_request_list')
          .col-sm-6
              .panel.panel-default
                  .panel-heading
                      h3 Events
                  .list-group(id=worker+'_event_list')

      script.
          APIData = {worker: '!{worker}', workers: !{JSON.stringify(workers)}}