mixin loaderThread(key, thread, name)
    .col-sm-3
        .panel.panel-default
            .panel-heading
                h3!= name
                    small= ' ' + thread.cycleData.totalClans + ' clans'
            .list-group.condensed
                .list-group-item
                    .badge(id=key+'_current_speed')= thread.speeds.currentSpeed + ' clans/s'
                    | Current speed *
                .list-group-item
                    .badge(id=key+'_current_duration')= thread.speeds.duration + ' ms'
                    | Current request duration *
                .list-group-item
                    .badge(id=key+'_completion')= thread.cycleTimes.completion + ' %'
                    | Cycle completion
                .list-group-item
                    .badge(id=key+'_error_rate')= thread.cycleData.errorRate + ' %'
                    | Error rate
        .progress(id=key+'_progress')
            .progress-bar(role='progress_bar',style='width:'+thread.cycleTimes.completion+'%')

        .panel.panel-default
            .panel-heading
                h4 List of requests
            .list-group.condensed(id=key+'_request_list')